<table>
    <tr>
		<td width="40%">
            {position:topbar_left}
        </td>
		<td width="60%">
            {position:topbar_right}
        </td>
    </tr>
    <tr>
        <td class="filled">
            {cell:LANG_PAGE_LOGO}
        </td>
        <td>
            {position:topbar_banner}
        </td>
    </tr>
	<tr>
        <td colspan="2">
            {position:main_menu}
        </td>
    </tr>
</table>
<table>
	<tr>
        <td colspan="2">
            {position:top}
        </td>
    </tr>
    <tr>
        <td width="65%">
            {position:left-top}
            {block:LANG_PAGE_BODY}
            {position:left-bottom}
        </td>
		<td width="35%">
			{position:right-top}
			{position:right-center}
			{position:right-bottom}
		</td>
    </tr>
	<tr>
        <td colspan="2">
            {position:bottom}
        </td>
    </tr>
</table>
<table>
	<tr>
		<td width="33%">
            {position:footer1}
        </td>
		<td width="33%">
            {position:footer2}
        </td>
		<td width="33%">
            {position:footer3}
        </td>
    </tr>
    <tr>
        <td width="35%" class="filled">
            {cell:LANG_PAGE_FOOTER}
        </td>
        <td colspan="2">
            {position:footer}
        </td>
    </tr>
</table>