html{
	font-size:10px;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html,
body {
	position: relative;
	height: 100%;
}
body {
	font:400 1.4rem/2rem Arial, Helvetica, sans-serif !important;
	margin:0;
	padding:0;
}

ul{margin:0;padding:0}

img {
	height: auto;
	max-width: 100%;
}

a {
  -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
  outline-width: 0;
}

#layout, #layout header, .my_logobox, #main_menu, .my_topbar, footer, .my_columns{
	width:100%;
	height: auto;
	line-height: normal;
	padding: 0;
	background: transparent;
	float:left;
}

#layout{
	max-width:1200px;
	float:none;
	margin:0 auto;
	overflow:hidden;
	background:#fff;
	-webkit-box-shadow: 0 0 5px 2px rgba(39,39,39,0.30);
	box-shadow: 0 0 5px 2px rgba(39,39,39,0.30);
}
.my_topbar{
	position:relative;
	background:#272727
}
.my_topbar .topbar_left{
	width:40%;
	height:50px;
	float:left;
	position:relative;
	padding:0;
	color: #fff;
}
.my_topbar .topbar_right{
	width:60%;
	height:50px;
	float:right;
	text-align:right;
	color: #fff;
}
.my_logobox .my_logo a{min-height:60px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;align-items:center;}
.my_logobox .my_logo a img{margin:auto 0}
.my_logobox .topbar_banner{
	width:auto;
	float:right;
	margin:0;
	padding:0;
	position:relative
}
main{padding:0 15px}
#main_content *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
#main_content textarea,#main_content input,#main_content select,#main_content .city-input,#main_content .album-photos-wrap *,#main_content dl *,#main_content .content_list.tiled .tile{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
header .my_topbar .menu,
.my_socialicons,
.topbar_search_button{
	display:inline-block;
	vertical-align:middle;
}
header .my_topbar a{color:#fff}
header .my_topbar a:hover{text-decoration:none}
header .my_topbar .menu{
	margin:0;
	padding: 0;
	list-style:none;
	line-height:normal;
	float: none;
	z-index:6;
	height: auto;
}
.my_socialicons li:first-child{ padding-left:0;}
.my_socialicons li:last-child,
header .my_topbar .menu li:last-child{ padding-right:0;}
header .my_topbar .menu > li{
	float:left;
	position:relative;
	line-height:normal;
	list-style-type:none;
	z-index:5;
	padding: 0;
}
header .my_topbar .menu li ul{
    left: 0;
    box-shadow: none;
    z-index:4;
    text-align: left;
}
header .my_topbar .menu ul li,#layout #menu_mobile.is_mm_open{
    background: #464646;
}
header .my_topbar .menu ul li a{background-image:none !important}
header .my_topbar .menu > li > a{display:block;height: 50px;line-height: 50px;padding: 0 15px;border-right: 1px solid rgba(68, 68, 68, 0.33);text-transform: none;font-weight: normal;font-size: 1.4rem;background: none !important;color: #fff;}
.topbar_search_button{
	width:50px;
	height:50px;
	color:#272727;
	line-height:50px;
	text-align:center
}
.topbar_search_button:focus,
.topbar_search_button:hover{color:#272727;text-decoration:none}
.topbar_search_button i{
	display:block;
	width:100%;
	font-size: 16px;
	line-height:48px;
}
.topbar_right .topbar_search{
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	display:none;
	overflow:hidden;
	position:absolute;
}
.topbar_search_form{
	width:100%;
	float:left;
	position:relative;
}
.topbar_search_form fieldset{
	width:100%;
	float:left;
	margin:0;
	border:0;
	padding:0;
	position:relative;
}

.topbar_search_form fieldset .form-control::-moz-placeholder{color:rgba(221, 221, 221, 0.69)}
.topbar_search_form fieldset .form-control::-webkit-input-placeholder {color:rgba(221, 221, 221, 0.69);}
.topbar_search_form fieldset .form-control:-ms-input-placeholder {color:rgba(221, 221, 221, 0.69);}
.topbar_search_form fieldset input[type="search"]{
	width:100%;
	height:50px;
	border:0;
	font-size:1.4rem;
	line-height:50px;
	background:none;
	color:#fff;
	padding:0 60px 0 100px;
	-webkit-appearance: textfield;
	outline-offset: -2px
}
.topbar_search_form fieldset:after{
	content:'\f002';
	top:-8px;
	left:0;
	width:70px;
	height:70px;
	line-height:62px;
	color:rgba(221, 221, 221, 0.69);
	font-size: 70px;
	position:absolute;
	font-family:'FontAwesome';
}
.topbar_search_close{
	top:0;
	right:0;
	color:#fff;
	width:50px;
	height:50px;
	display:block;
	line-height:50px;
	text-align:center;
	position:absolute;
	background:#272727;
}
nav .menu{display:block}
nav .menu ul{list-style:none;box-shadow:none}
header .menu > .folder > a > .wrap {
    padding-right: 0;
    background: none !important;
}
header .menu ul, header .menu ul li:first-child, header .menu ul li:first-child a, header .menu ul li:last-child, header .menu ul li:last-child a{border-radius:0}
header .menu > li > a {padding:0 15px!important}

header .menu .item{padding-left:10px}
header .menu ul *.folder > a{
    background: none !important;
}
header .menu > li a:hover {background:rgba(0, 0, 0, 0.14)!important;}
header .menu > .folder > a > .wrap:after {content: "\f078";font: normal normal normal 14px/1 FontAwesome;margin-left: 5px;display: inline-block;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
header .menu > .folder > ul .folder > a:after,header .menu > .flexMenu-viewMore > ul .folder > a:after{content: "\f0da";font: normal normal normal 14px/1 FontAwesome;margin:13px 0 0;display: inline-block;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;float: right;}
header .menu ul ul{top:-1px}
nav#main_menu .menu li ul li{background:#464646}
header .menu ul li a{height:40px;line-height:40px}
header .menu ul li{border-color:rgba(0, 0, 0, 0.14)}
header .menu > li.active > a{background:rgba(255, 255, 255, 0.24) !important;color:#fff}
header .menu ul li a, header .menu li.active ul li a, header .menu > li.active > a:hover{color:#fff !important}
nav#main_menu .menu li:last-child ul{right: 0;left: auto}
nav#main_menu .menu li:last-child ul li ul{    
	right: auto;
    left: -200px !important;
    top: 0px !important;
}

nav#main_menu .menu li:last-child > ul li.folder > a:after{
    content: "\f0d9";
}
nav#main_menu{margin-bottom:0}
nav select, .tabs-menu select{display:none !important}
.tabs-menu ul{display:block}

#top_position{clear:both}

#main_content{border-right: 1px solid #eee;padding:15px;background: #fff;}
aside{padding:15px;border-left: 1px solid #eee;margin-left: -1px;}

.topbar_left .menu ul li a:hover{color:#eee}
#widget_pos_left-top .widget .menu {margin:-16px -15px -21px}
#widget_pos_left-top .menu {
    margin: 0 -15px 10px;
    padding: 15px 15px 10px;
    background: #f5f4f4;
    display: inline-block;
    width: 100%;
}
#widget_pos_left-top .menu li{float: left;margin: 0 5px 5px 0;}
#widget_pos_left-top .menu li.flexMenu-viewMore.flexMenu-allInPopup, #widget_pos_left-top .menu li.flexMenu-viewMore.flexMenu-allInPopup li, #widget_pos_left-top .menu li.flexMenu-viewMore li,.tabs-menu ul li.flexMenu-viewMore li{float: none;margin:0;}
#widget_pos_left-top .menu li.flexMenu-viewMore > a{padding:10px;}
#widget_pos_left-top .menu li.flexMenu-viewMore ul.flexMenu-popup,.tabs-menu ul li.flexMenu-viewMore ul.flexMenu-popup{right:0;white-space:nowrap}
#widget_pos_left-top .menu li.flexMenu-viewMore.flexMenu-allInPopup ul.flexMenu-popup{left:0;right:0}
#widget_pos_left-top .menu li a{padding:10px 10px 10px 36px}
.tabs-menu ul li.flexMenu-viewMore ul.flexMenu-popup{border: 1px solid #b3c2c9;margin-top:2px;border-top:none;border-bottom:none;z-index:2}
.tabs-menu ul.tabbed li.flexMenu-viewMore.active li a{
    border: none;
    min-width: 100px;
    display: block;
    padding: 4px 10px;
    border-bottom: 1px solid #b3c2c9;
	margin:0
}
.tabs-menu ul.tabbed li.flexMenu-viewMore.active li.folder{position:relative}
.tabs-menu li.flexMenu-viewMore.active li.folder > ul{
    right: 100%;
    top: 0;
	border-bottom:none
}
.tabs-menu li.flexMenu-viewMore.active li.folder > ul li a{width:auto}
.tabs-menu li.flexMenu-viewMore.active li.folder > ul li a:hover{border-bottom: 1px solid #b3c2c9 !important}


#layout footer{
	background:#272727;
	display:block;
	padding: 0 15px;
	color:#fff;
	height:auto
}
footer .footer_top{
	position:relative;
    padding: 3px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}
footer .footer_top:before{
	content:'';
	position: absolute;
	left: 50%;
	top: -19px;
	border: 10px solid transparent;
	cursor:pointer;
}
footer .footer_top span{display: none}
footer .footer_middle{position: relative;background:#868686}
footer .footer_middle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: block;
}
.my_columns{padding-bottom:5px}
footer .widget .title{
	margin:0 0 20px;
	border-bottom: 1px solid #757575;
	padding:15px 0;
	position:relative;
	background: none!important;
	height: auto;
	line-height: normal;
	font-size:1.6rem;
	font-weight: normal;
}
footer .widget .title::before {
    position: absolute;
    bottom: -1px;
    width: 130px;
    height: 1px;
    background-color: #fff;
    content: '';
}
.footer_text{background:#353535;padding: 5px 30px;margin: 0 -15px;}
.footer_text p, .my_copyrights p{margin:15px 5px;}
footer ul.menu,footer .my_copyrights .my_socialicons{
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	padding: 13px 0;
}
#layout footer ul.menu li{float: left;margin-right:20px;height: 50px;line-height: 50px;}
footer ul.menu li:last-child{margin-right:0}
footer ul.menu li a{font-weight:bold;color:#ccc}
#layout .widget > .title .links a{color:#fff;padding:4px 8px}
#layout .widget > .title,.widget_tabbed .tabs ul,.widget_user_avatar .user_info,.widget_search{background:#4e4d4d}

.my_socialicons{
	overflow: hidden;
	list-style: none;
	text-align:center;
	line-height: 20px;
	padding:15px 30px;
}
.my_socialicons li{
	float: left;
	padding: 0 4px;
	line-height: inherit;
	list-style-type: none;
}
.my_socialicons li a{
	width:20px;
	height:20px;
	color: #272727;
	display:block;
	background: rgba(255, 255, 255, 0.67);
	overflow:hidden;
}
.my_socialicons li a i{
	display:block;
	font-size: 14px;
	line-height:20px;
	text-align:center;
}
.my_socialicons li a:hover{color: #272727;}
footer .my_socialicons li a:hover{text-decoration:none}

.topbar_right > div, .topbar_left > div{display:inline-block;overflow: visible;}
#breadcrumbs{clear:both;margin:0}
footer .widget{background:none;border:none}
footer .widget .body{padding: 0;line-height: normal;border: none;}
header .widget_user_avatar{
    margin: 0;
    display: inline-block;
}
header .widget_user_avatar div{display: inline-block}
header .widget_user_avatar .default_avatar{border-radius:50%}
header .widget_user_avatar .user_info{line-height: 30px;}
header .widget_user_avatar:hover .user_info{background:rgba(0, 0, 0, 0.14)}
header .widget_user_avatar .menu{box-shadow:none;background: #464646;}
header .widget_user_avatar .menu li{float: none;border-bottom:1px solid rgba(0, 0, 0, 0.14)}
header .widget_user_avatar .menu li:hover{background-color:transparent;}
header .default_avatar{overflow:visible;line-height:30px!important;font-size:14px!important}
header .default_avatar img{display:inline-block}
.widget_user_avatar .user_info .avatar{line-height:10px}
header .widget_user_avatar .menu li a{
    height: 40px;
    line-height: 40px;
}
header .widget_user_avatar .menu li ul{
    left: auto;
    background: #484848;
    right: 180px;
	width:200px
}
header .widget_user_avatar .menu > .folder > a > .wrap:after{content:none}
header .widget_user_avatar .user_info,header .widget_user_avatar .user_info .avatar{float:none;overflow:visible}
header .widget_user_avatar .user_info:after{top:10px}
header .topbar_left .widget_user_avatar:first-child .menu li ul{right: auto;left: 180px;}
header .topbar_left .widget_user_avatar:first-child .menu{right: auto;left:0;}
header .widget_user_avatar .user_info .avatar img{border-radius:50%}
.widget_content_slider{margin-bottom:15px}
.widget > .body, .widget_tabbed .widgets{
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-top: none;
}
.widget_tabbed .tabs ul{border: 1px solid #ecf0f1;border-bottom: none}
.widget_tabbed .tabs ul li a:hover{text-decoration:none}
#main_content #photo_container h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: left;
    font-size: 2rem;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    height: 46px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 15px;
    margin: 0;
    color: #fff;
}
#main_content h1{
    margin-bottom: 20px;
    color:#34495e;
}

#main_content h1 + .parent_title{
    font-size:1.6rem;
    margin: -10px 0 20px 0;
}
main aside .menu, main aside .menu li,
main section .menu, main section .menu li
{ margin:0; padding:0; list-style: none; background:#FFF; }

main aside .menu ul,
main section .menu ul{
    border: solid 1px #EDEDED;
    border-bottom: none;
}

main aside .menu {
    margin:-15px;
	border-top:1px solid #ecf0f1
}

main aside .menu li ul {
    visibility: hidden;
    position:absolute;
    top:-1px;
    left: auto;
    right: 91%;
    width:220px;
    box-shadow: 0 1px 2px #666;
    z-index: 999;
}

main aside .menu li {
    border-bottom: solid 1px #ecf0f1;
}

main aside .menu li:hover,
main aside .menu li.active,
main section .menu li:hover,
main section .menu li.active {
    position: relative;
    z-index: 2;
    cursor: default;
    background: #ecf0f1;
}
main aside .menu li:last-child {
    border-bottom: none;
}
main aside .menu li:hover > ul {
    visibility: visible;
}
aside .menu .item, section .menu .item {
    background: url("/templates/default/images/icons/item.png") no-repeat 10px center;
}
main aside .menu li.active .item,
main section .menu li.active .item {
    color:#000;
}
main aside .menu a,
main aside .menu span.item,
main section .menu a,
main section .menu span.item {
    overflow: hidden;
    display:block;
    color:#666;
    text-decoration: none;
    padding:6px 10px;
    padding-left:36px;
}

main aside .menu a:hover {
    color:#000;
}

main aside .menu .counter,
main section .menu .counter{
    float:right;
    padding: 0px 7px;
    background: #376499;
    border-radius: 50px;
    font-size: 11px;
    color: white;
}

main aside .menu li:hover .counter,
main section .menu li:hover .counter{
    background:#BDC3C7;
}
.widget_user_avatar .user_info{margin-bottom:15px}
.widget_user_avatar .menu{border-top:none}
aside .widget > .title{height:47px;line-height:47px}
.widget_content_slider .items .item .image{width:32px}
.tabs-menu .tabbed li a{display:inline;padding:10px}
.tabs-menu .tabbed li a:hover{padding:10px 10px 9px}
#group_profile .block .details, #group_profile .block .details li{margin:5px 0}
#user_profile_title .status{margin-top:3px}
.show-more{line-height:24px}

/*********************** FIX ADDONS ******************/
#layout .userlang_swither .userlang_swither-toggle img,#layout .lang_switcher a img{margin-bottom:3px}
#layout .userlang_swither .userlang_swither-toggle{font-size:12px;background:#f3f3f3}
#layout .userlang_swither .userlang_swither-list,#layout .lang_switcher a{font-size:12px;min-width:49px;color:#444}
#layout .userlang_swither .userlang_swither-list li img{margin-bottom:2px}
.topbar_left .userlang_swither{margin:16px}
.topbar_left .lang_switcher,#layout .gifts_list_item,.send .gifts_list_text{margin:8px}
#layout .problems_item .tags_bar{display:block}
#layout [my-data-tip]:after,[data-tip]:after{height:28px}
#layout .spoil .sp_span img{margin:-3px 4px 0 0}
#layout .spoil .sp_button{height:22px}
#layout .my_b_view_map{background-position-x:center}
#layout .gifts_list_item_link,#layout .gifts_list_check a{text-decoration:none}
#layout .gifts_list_check{margin:-37px 0 0 150px;width:80px}
#layout .gifts_list_buttons a.colored{margin-right:5px}
#layout .gifts_list_buttons{width:170px}
#layout .gifts_list_item_meta,#layout .emojionearea .emojionearea-picker .emojionearea-scroll-area h1{margin-bottom:5px}
#layout .emojionearea .emojionearea-picker .emojionearea-filters .emojionearea-filter{height:32px}
#layout .emojionearea .emojionearea-picker .emojionearea-filters{width:310px}
#popup-manager .markItUpHeader ul li{margin:0 8px 5px 0}
#popup-manager .emojibutton .emojionearea-button{top:-4px}
#layout .days .full,#layout #arrow_schedule{margin-bottom:0}
#layout .schedule .date td select{height:auto}
#layout .day_list{width:360px}
.wd_app_calendar .ui-datepicker{width:100%;box-shadow:none}

/*********************** FONT SIZES rem ******************/

aside .widget_tabbed > .tabs .links a{font-size:1rem}
.content_item .info_bar, .content_list_item .info_bar,.is_online,#wall_widget #entries_list .entry .links a,.wd_slide_submit,.widget_content_list .details{font-size:1.1rem}
nav, header .menu > li > a, .widget_user_avatar .user_info .name a,.widget_content_slider .items .item,aside .widget > .title,aside .widget_tabbed .tabs ul li a,#layout footer,.widget_search .input,#comments_widget .track,#comments_widget #comments_add_link a,.widget > .title .links a,#breadcrumbs ul li,.content_item .tags_bar, .content_list_item .tags_bar,.content_list.tiled .info_bar,.widget_content_filter .ft_date .value, .widget_content_filter .ft_number .value,#group_profile .block .details, #group_profile .block .details li,.pagebar,.pagebar_notice,#comments_list .comment .info div,form .hint,#user_profile .block .details, #user_profile .block .details li,#wall_widget #entries_list .entry .info div,header .menu ul li a, header .menu li.active ul li a,.widget_content_slider .slide .heading .teaser,.widget_tabbed > .tabs .links a,.top-rated-list .title{font-size:1.2rem}
.widget_content_list.compact .item .title{font-size:1.3rem}
.widget_tabbed .tabs ul li a,.content_datasets ul li,form .field label,#user_profile #information .fieldset_title h3,.widget_content_slider .slide .heading h2,.problem_sts li,.wd_app_container .wd_app_step,.tabs-menu .tabbed li,input.button-submit, input.button,.pills-menu-small li,.wd_app_button,.widget_content_list.featured .item .title,.widget_content_list.tiles-big .item .title{font-size:1.4rem}
.content_list.table table td.ft_caption h2,.wd_app_result ul li,.widget_content_list .item .title,#horo_tabs p.horo_content{font-size:1.6rem}
.content_categories li,.groups-list .title,.widget > .title{font-size:1.8rem}
.content_list_item .ft_caption .value,#group_profile_title,#user_profile_title,#wd_appointments .wd_app_header h2,.widget_content_list.featured .item-first .title{font-size:2.1rem}
.content_list.featured .first .ft_caption a{font-size:2.4rem}
h1{font-size:2.8rem}

/*********************** COLORS ******************/
#layout .widget .bg_black {background:#000}
#layout .widget .bg_blue {background:#4682b4}
#layout .widget .bg_red {background:#ff6347}
#layout .widget .bg_green {background:#3cb371}

#layout .widget .txt_white, #layout .widget .txt_white a{color:#fff}